html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #294A52;
  color: #5C7D85;
}

h1, h2, p, input, main, footer {
  margin: 0;
  padding: 0;
}

input, button {
  border: none;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1366px;
  margin: 0 auto;
  min-height: 100vh;
}