html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #294A52;
  color: #5C7D85;
}

h1, p, input {
  margin: 0;
  padding: 0;
}

input, button {
  border: none;
}

main {
  padding: 20px;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1366px;
  margin: 0 auto;
  min-height: 100vh;
}